*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 100%;
}

body {
   min-height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Manrope', sans-serif;
   font-size: $font-size;
   color: $veryDarkGrayishBlue;
   background-color: $lightGrayishBlue;
   font-weight: 500;
   overflow-x: hidden;
}

h1 {
   color: $veryDarkGrayishBlue;
   font-weight: 700;
   line-height: 1.5;
   text-align: left;
   font-size: $font-size-lg;
}

p {
   padding-top: 1.25rem;
   padding-bottom: 1.25rem; // 20px
   line-height: 1.7;
   color: $desaturatedDarkBlue;
}

.hide-mobile {
   display: none !important;
}

.hide-desktop {
   visibility: hidden !important;
   opacity: 0 !important;
}

.share-text {
   letter-spacing: 4px;
   opacity: 0.7;
}

.grid-item {
   align-self: center;
}

.grid-item.svg-background {
   @include break-up($laptop-md){
      &:hover{
         cursor: pointer;
         filter: brightness(90%);
      }
   }
}

.svg-background {
   filter: brightness(1000%);
}

.btn-share-open {
   background-color: $desaturatedDarkBlue !important;
}