// colors
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

$font-size: 0.8125rem; // 13px
$font-size-lg: 1rem; // 16px

$laptop-md: 64rem; // 1024px